

/* Welcome styles */

#welcome {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    padding: 10px;
    margin-left: 10px;
    text-emphasis-color: #ffffff;
    background-attachment: fixed;
    background-size:cover; 
  }

  #welcome{
    text-align: center;
    text-emphasis: none;
    text-decoration: #ffffff;
    color: #ffffff;
    padding-bottom: 75px;
    padding-top: 140px;
 
 }

  .section1 p{
    padding-bottom: 10%;
  }

  .mouse{
  padding-bottom: 20px;
}


/* aboutUs styling */
#aboutUs {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


#services {
    text-align: center;
    text-decoration-color: #ffffff;
    color: #ffffff;
    padding-top: 100px;
    Padding-bottom:70px
}

/* services styling */
#services {
    background-image: url("../images/backgrounds/s_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    background-size:auto;
}


/* What we do styling */

#whatWeDo {
  padding-top: 50px;
  
}

#whatwedo {
  text-align: center;
  padding: 200px;
  width:150vh
}




/* portfolio styling */

#portfolio {
  text-align: center;
  width:150vh;
  background-color:#ffffff;
}

.project1 {
  display: none;
  padding-bottom: 100px;

}

/* Contact us styling */
.section6 {
  height: 70vh;
  background-image: url(../images/backgrounds/c_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-size:auto;

}


#form {
  align-items: center;
  float: center;
  padding-left: 190px;
  
}

.textarea {
  align-self: center;
  align-items: center;
  align-content: center;
  padding-inline-end: 50px;
}

.button {
  display: table-cell;
  text-align: center;
  width: 1500px;
  vertical-align: middle;

}

#socials {
  padding-top: 50px;
  align-content: center;
  text-align: justify;
  display: table-cell;
  text-align: center;
  width: 20000px;
  vertical-align: middle;
}
